---
import Layout from "../layouts/MainLayout.astro";
import PageLayout from "../layouts/PageLayout.astro";
---


<PageLayout title="データセット">
  <div>
    <div>
      <h2>datasets</h2>
      <p>description</p>
    </div>
  </div>
</PageLayout>

