---
import CategoryLayout from "../layouts/CategoryLayout.astro";
---


<CategoryLayout title="お知らせ">
  <div class="px-6 xl:pr-2 pb-16">
    <div>
      <h2>お知らせ</h2>
      <p>description</p>
    </div>
  </div>
</CategoryLayout>

