---
import BaseLayourt from "../layouts/BaseLayout.astro";
import BreadCrumbs from "../components/BreadCrumbs.astro";
import PeopleCard from "../components/PeopleCard.astro";
import PaperList from "../components/PaperList.astro";

const title = "業績（論文）一覧";
const path = [
  { name: "ホーム", url: "/" },
  { name: title, url: "/references" },
];
---

<BaseLayourt title="References">
  <div class="py-16 px-4 font-bold bg-base-100 w-full">
    <h2 class="text-primary text-4xl md:text-6xl">業績（論文）一覧</h2>
  </div>
  <BreadCrumbs path={path} />

  <div class="flex flex-col md:flex-row ">
    <aside class="hidden md:block h-screen sticky top-0 w-1/3">
      <ul class="menu bg-base-200 w-full rounded-md ">
        <li><a href="#yamada">山田太造</a></li>
        <li><a href="#nakamura">中村覚</a></li>
        <li><a href="#liu">劉冠偉</a></li>
      </ul>
    </aside>

    <div class="block md:px-10">
      <PeopleCard name="山田 太造" position="准教授" researchmap_account="j618" id="yamada" />
      <PaperList researchmap_account="j618" />

      <PeopleCard name="中村 覚" position="助教" researchmap_account="nakamura.satoru" id="nakamura" />
      <PaperList researchmap_account="nakamura.satoru" />

      <PeopleCard name="劉 冠偉" position="特任研究員" researchmap_account="liuguanwei" twitter_account="toyjack" id="liu" />
      <PaperList researchmap_account="liuguanwei" />
    </div>
  </div>
</BaseLayourt>
