---
const { path = [] } = Astro.props;
---

<div class="text-sm breadcrumbs">
  <ul>
    {
      path.map((item) => (
        <li>
          <a href={item.url}>{item.name}</a>
        </li>
      ))
    }
  </ul>
</div>
