---
import NaviMenu from "./NaviMenu.astro";
---

<header>
  <div class="navbar bg-base-100">
    <div class="navbar-start">
      <a class="btn btn-ghost normal-case text-xl" href="/">
        <div class="w-10 p-2">
          <img src="/images/logo.png" alt="" width="80" height="80" />
        </div>Hi Lab</a
      >
    </div>

    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal px-1">
        <NaviMenu class="menu menu-horizontal px-1" />
      </ul>
    </div>

    <div class="navbar-end">
      <!-- <a class="btn">Get started</a> -->
      <div class="dropdown dropdown-end">
        <label tabindex="0" class="btn btn-ghost lg:hidden">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </label>
        <ul
          tabindex="0"
          class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
        >
          <NaviMenu class="menu menu-horizontal px-1" />
        </ul>
      </div>
    </div>
  </div>
</header>
