<div
  class="hero rounded-md mx-auto min-h-screen"
  style="background-image: url(images/hero.webp);"
>
  <div class="hero-overlay bg-opacity-30"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md min-h-full">
      <h1
        class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter"
      >
        データ駆動型<br />
        歴史情報研究基盤の構築
      </h1>
      <p class="text-lg mt-4 max-w-xl">
        史料編纂所が150年にわたって蓄積した日本史の研究資源を、Society5.0に対応し、さらに100年にわたって維持・発展させるための歴史情報研究基盤構築を行います。国際的に卓越した日本史の情報研究拠点の拡充を行い、情報学とコラボレーションして人文系分野のさらなる活性化や学術の多様性を支える基盤の強化を実現していきます。また研究活動を通じて若手研究者を高度な専門性を持つ研究者に育成し、歴史データの発信によって学術成果の社会への還元を目指します。
      </p>
      <br />
      <p class="text-xs">
        背景画像：<a
          class="link link-hover"
          href="https://clioimg.hi.u-tokyo.ac.jp/viewer/list/idata/000/0051/1/1?m=all&n=20&b=00000011"
          >「ロシア使節レザノフ来航絵巻」東京大学史料編纂所所蔵</a>
      </p>
    </div>
  </div>
</div>
