---
import BaseLayout from "./BaseLayout.astro";

const { frontmatter  } = Astro.props;
---

<BaseLayout title="Datasets">
  <div>
    <h2 class="py-8 text-4xl font-bold">{frontmatter.title}</h2>
    <article class="prose lg:prose-xl py-7">
      <slot />
    </article>
  </div>
</BaseLayout>
