---
import CategoryLayout from "./CategoryLayout.astro";

const { frontmatter } = Astro.props;
---

<CategoryLayout title={frontmatter.title}>
  <article class="prose lg:prose-xl py-7">
    <h1>{frontmatter.title}</h1>
    <slot />
  </article>
</CategoryLayout>
